

body {
  margin: 0;
  padding: 0
}

.map {
  width: 100vw;
  height: 100vh;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-image: url("../images/fireIcon.png");
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

.loginBox {
  border: 1px solid black;
  background-image: url("../images/fireIcon.png");
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

